{% extends "layouts/base.html" %}

{% block title %} Просмотр заявки {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  tabel{
    color: black !important;
  }
  tbody tr:hover {
    background: #fafafa;
  }
</style>
<style>
  td:focus-within {
    background: #f5f5f5;
  }
</style>
{% endblock stylesheets %}

{% block content %}
  {% if perms.reference.view_task_head  %}
  {% if th.obj.watch1 == request.user or th.obj.watch2 == request.user or th.creator.username == request.user.username or perms.reference.change_temp_file or perms.reference.view_accepter_list or perms.reference.add_ender_list %}
    <div class="container-fluid py-4">
      <div class="row mb-12">
        <form method="POST"> {% csrf_token %}
        <div class="col-lg-12 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row" style="max-width: 100%; overflow-x: auto;">
                <div class="col-lg-12 wrap col-7" style="max-width: 100%; overflow-x: auto;">
                    <table class="table align-items-center ">
                      <thead>
                      <a href="/task_main">❮</a>
                            <H4 class="text-center">Заявка</H4>
                        <tr style="border-color: black;">
                          <th style="border-bottom-color: black;background:#1653e299; color:black;"  class="text-center text-centerps-2">
                            Номер
                          </th>
                          <th style="border-bottom-color: black;background:#1653e299; color:black;"  class="text-center text-centerps-2">
                            Вид заявки
                          </th>
                          <th style="border-bottom-color: black;background:#1653e299; color:black;" class="text-center text-centerps-2">
                            Объект
                          </th>
                          <th style="border-bottom-color: black;background:#1653e299; color:black;"  class="text-center text-centerps-2">
                            Контроль
                          </th>
                          <th style="border-bottom-color: black;background:#1653e299; color:black;"  class="text-center text-centerps-2">
                            Статус
                          </th>
                          <th style="border-bottom-color: black;background:#1653e299; color:black;"  class="text-center text-centerps-2">
                            Дата создания
                          </th>
                          <th style="border-bottom-color: black;background:#1653e299; color:black;" hidden class="text-center text-centerps-2">
                            Общий процент выполнения
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="border-color: black;" class="col-lg-11">
                          <td style="color:black;">
                            <div class=" text-center mt-2">
                              {% if th.id_name %}{{ th.id_name }}{% else %}{{ th.id }}{% endif %}
                            </div>
                          </td>
                          <td style="color:black;">
                            <div class=" text-center mt-2">
                              {% if th.type %}{{ th.type }}{% else %}{{ th.name }}{% endif %}
                            </div>
                          </td>
                          <td style="color:black;">
                            <div class=" text-center mt-2">
                              {{ th.obj }}
                            </div>
                          </td>
                          <td style="color: black;{% if th.control == 'Не пройден' %} background-color: #f1f029; {% elif th.control == 'Пройден' %} background-color:#19c719; {% else %}background-color: #f70d32; {% endif %}">
                            {% if perms.reference.change_task_head_control or request.user.is_superuser %}
                              <select onchange="ControlSave({{ th.id }})" style="{% if th.control == 'Не пройден' %} background-color: #f1f029; {% elif th.control == 'Пройден' %} background-color:#19c719; {% else %}background-color: #f70d32; {% endif %}" {% if th.closed == 1 %} disabled {% endif %} name="control" id="control" class="form-control text-center">
                                <option {% if th.control == "Не пройден" %} selected="selected" {% endif %}>
                                  Не пройден
                                </option>
                                <option {% if th.control == "Пройден" %} selected="selected" {% endif %}>
                                  Пройден
                                </option>
                                <option {% if th.control == "На редактирование" %} selected="selected" {% endif %}>
                                  На редактирование
                                </option>
                              </select>
                            {% else %}
                              {% if th.creator.username == request.user.username or perms.reference.view_accepter_list %}
                                {{ th.control }}
                              {% else %}
                                {% if perms.reference.change_task_head_control or request.user.is_superuser %}
                                <select style="{% if th.control == 'На рассмотрение' %} background-color: #f1f029; {% elif th.control == 'Одобрен' %} background-color:#19c719; {% else %}background-color: #f70d32; {% endif %}" {% if th.closed == 1 %} disabled {% endif %} name="control" id="control" class="form-control text-center">
                                  <option {% if th.control == "Не пройден" %} selected="selected" {% endif %}>
                                    Не пройден
                                  </option>
                                  <option {% if th.control == "Пройден" %} selected="selected" {% endif %}>
                                    Пройден
                                  </option>
                                  <option {% if th.control == "На редактирование" %} selected="selected" {% endif %}>
                                    На редактирование
                                  </option>
                                </select>
                                {% else %}
                                {{ th.control }}
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          </td>
                          <td style="color: black;{% if th.status == 'На рассмотрение' %} background-color: #f1f029; {% elif th.status == 'Одобрен' %} background-color:#19c719; {% else %}background-color: #f70d32; {% endif %}">
                              {% if perms.reference.change_task_head or request.user.is_superuser %}
                                <select onchange="AgreemSave({{ th.id }})" style="{% if th.status == 'На рассмотрение' %} background-color: #f1f029; {% elif th.status == 'Одобрен' %} background-color:#19c719; {% else %}background-color: #f70d32; {% endif %}" {% if th.closed == 1 %} disabled {% endif %} name="status" id="status" class="form-control text-center">
                                  <option {% if th.status == "На рассмотрение" %} selected="selected" {% endif %}>
                                    На рассмотрение
                                  </option>
                                  <option {% if th.status == "Одобрен" %} selected="selected" {% endif %}>
                                    Одобрен
                                  </option>
                                  <option {% if th.status == "Отклонен" %} selected="selected" {% endif %}>
                                    Отклонен
                                  </option>
                                </select>
                              {% else %}
                                {% if th.creator.username == request.user.username or perms.reference.view_accepter_list %}
                                  {{ th.status }}
                                {% else %}
                                  {% if perms.reference.change_task_head or request.user.is_superuser %}
                                  <select style="{% if th.status == 'На рассмотрение' %} background-color: #f1f029; {% elif th.status == 'Одобрен' %} background-color:#19c719; {% else %}background-color: #f70d32; {% endif %}" {% if th.closed == 1 %} disabled {% endif %} name="status" id="status" class="form-control text-center">
                                    <option {% if th.status == "На рассмотрение" %} selected="selected" {% endif %}>
                                      На рассмотрение
                                    </option>
                                    <option {% if th.status == "Одобрен" %} selected="selected" {% endif %}>
                                      Одобрен
                                    </option>
                                    <option {% if th.status == "Отклонен" %} selected="selected" {% endif %}>
                                      Отклонен
                                    </option>
                                  </select>
                                  {% else %}
                                  {{ th.status }}
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                          </td>
                          <td style="color:black;">
                            <div class=" text-center mt-2">
                              {{ th.date_create }}
                            </div>
                          </td>
                          <td style="color:black;"hidden>
                            <div class=" text-center mt-2">
                              {{ th.procent }}
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table style="border-style: groove;" class="table align-items-center ">
                      <thead>
                        <tr style="border-color: black;">
                          {% if th.creator.username == request.user.username %}{% if th.status == 'На рассмотрение' %}
                          <th style="border-bottom-color: black;background:#9fc6ff; color:black; text-align:left;">
                            X
                          </th>
                          {% endif %}{% endif %}
                          <th style="border-bottom-color: black;background:#9fc6ff; color:black; text-align:left;">
                            №
                          </th>
                          <th style="border-bottom-color: black;background:#9fc6ff; color:black; text-align:left;">
                            Наименование
                          </th>
                          <th style="border-bottom-color: black;background:#9fc6ff; color:black; text-align:left;">
                            Кол-во
                          </th>
                          <th style="border-bottom-color: black;background:#9fc6ff; color:black; text-align:left;">
                            Ед.Изм.
                          </th>
                          <th style="border-bottom-color: black;background:#9fc6ff; color:black; text-align:left;">
                            Нужен до
                          </th>
                          <th style="border-bottom-color: black;background:#9fc6ff; color:black; text-align:left;">
                            Изменения
                          </th>
                          <th style="border-bottom-color: black;background:#9fc6ff; color:black; text-align:left;">
                           Кем изменен
                          </th>
                          <th style="border-bottom-color: black;background:#9fc6ff; color:black; text-align:left;">
                            Принятие на объекте
                          </th>
                          <th hidden style="background:#168de2;">
                            Отправили на объект
                          </th>
                          <th hidden style="background:#168de2;">
                            Процент выполнения
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for t in tb %}
                        <tr style="border-color: black;">
                          {% if th.creator.username == request.user.username %}{% if th.status == 'На рассмотрение' %}
                          <td style="color:black;">
                            <a href="/del_tb/{{ t.id }}/{{ th.id }}" >X</a>
                          </td>
                          {% endif %}{% endif %}
                          <td style="color:black;">
                            {{ forloop.counter }}
                          </td>
                          <td style="color:black;">
                            {{ t.name }}
                          </td>
                          <td style="color:black;">
                            {{ t.number }}
                          </td>
                          <td style="color:black;">
                            {{ t.ci }}
                          </td>
                          <td  {% if t.expired == 1 %} style="background-color:red;color:black;"{% else %} style="color:black;" {% endif %}>
                            {{ t.need_date }}
                          </td>
                          {% if th.closed == 1 %}
                            <td style="color:black;">
                              {{ t.change|default:'' }}
                            </td>
                            <td style="color:black;">
                              {% if t.status_changer.last_name %}{{ t.status_changer.last_name|default:'' }}{% endif %} {% if t.status_changer.first_name %}{{ t.status_changer.first_name|default:'' }}{% else %} {{ t.status_changer|default:'' }} {% endif %}
                            </td>
                            <td style="color:black;">
                              <input disabled type="checkbox" {% if t.accept == 1 %}checked value="3"{% else %} value="{{ t.accept|default:'2' }}" {% endif %} id="tac{{ t.id }}"  name="tac{{ t.id }}">
                            </td>
                          {% else %}
                            {% if th.creator.username != request.user.username %}
                              {% if perms.reference.change_task_body or perms.reference.add_ender_list or request.user.is_superuser %}
                                <td style="color:black;" >
                                  <input onchange="ChangeSave({{ t.id }})" id="tch{{ t.id }}" value="{{ t.change|default:'' }}" name="tch{{ t.id }}" class="form-control">
                                </td>
                                <td  class="text-center">
                                  <input disabled id="tsch{{ t.id }}" value="{% if t.status_changer.last_name %}{{ t.status_changer.last_name|default:'' }}{% endif %} {% if t.status_changer.first_name %}{{ t.status_changer.first_name|default:'' }}{% else %} {{ t.status_changer|default:'' }} {% endif %}" name="tsch{{ t.id }}" class="form-control">
                                </td>
                                <td>
                                  <select {% if perms.reference.view_task_number %} {% else %} disabled {% endif %} id="tac{{ t.id }}" onchange="AcceptSave({{ t.id }})">
                                      <option {% if t.accept == 0 %} selected {% endif %} value="0">В процессе</option>
                                      <option {% if t.accept == 1 %} selected {% endif %} value="1">Мой склад</option>
                                      <option {% if t.accept == 2 %} selected {% endif %} value="2">Закрыто</option>
                                  </select>
                                </td>
                              {% else %}
                                {% if perms.reference.view_accepter_list %}
                                  <td style="color:black;">
                                    {{ t.change|default:'' }}
                                  </td>
                                  <td style="color:black;">
                                    {% if t.status_changer.last_name %}{{ t.status_changer.last_name|default:'' }}{% endif %} {% if t.status_changer.first_name %}{{ t.status_changer.first_name|default:'' }}{% else %} {{ t.status_changer|default:'' }} {% endif %}
                                  </td>
                                  <td style="color:black;">
                                    <select {% if perms.reference.view_task_number %} {% else %} disabled {% endif %} id="tac{{ t.id }}" onchange="AcceptSave({{ t.id }})">
                                      <option {% if t.accept == 0 %} selected {% endif %} value="0">В процессе</option>
                                      <option {% if t.accept == 1 %} selected {% endif %} value="1">Мой склад</option>
                                      <option {% if t.accept == 2 %} selected {% endif %} value="2">Закрыто</option>
                                    </select>
                                  </td>
                                {% endif %}
                              {% endif %}
                            {% else %}
                              <td style="color:black;">
                                {{ t.change|default:'' }}
                              </td>
                              <td style="color:black;">
                                {% if t.status_changer.last_name %}{{ t.status_changer.last_name|default:'' }}{% endif %} {% if t.status_changer.first_name %}{{ t.status_changer.first_name|default:'' }}{% else %} {{ t.status_changer|default:'' }} {% endif %}
                              </td>
                              <td style="color:black;" >
                                <select {% if perms.reference.view_task_number %} {% else %} disabled {% endif %} id="tac{{ t.id }}" onchange="AcceptSave({{ t.id }})">
                                  <option {% if t.accept == 0 %} selected {% endif %} value="0">В процессе</option>
                                  <option {% if t.accept == 1 %} selected {% endif %} value="1">Мой склад</option>
                                  <option {% if t.accept == 2 %} selected {% endif %} value="2">Закрыто</option>
                                </select>
                              </td>
                            {% endif %}
                          {% endif %}
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-lg-8">
                  </div>
                  <div class="col-lg-2">
                    {% if perms.reference.change_task_head or perms.reference.add_ender_list or th.creator.username == request.user.username %}{% if th.closed != 1 %}<button class="btn bg-gradient-dark px-4 mb-3" type="submit">Сохранить</button> {% endif %}{% endif %}
                  </div>
                  <div class="col-lg-2">
                    {% if th.creator.username == request.user.username %}{% if th.status == 'На рассмотрение' %}<a href="/edit_task/{{ th.id }}" class="btn bg-gradient-dark px-4 mb-3">Редактировать</a> {% endif %}{% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="wrap col-lg-12">
                    <textarea style="color:black;" disabled class="col-lg-5 form-conrtol">{{ th.comment|default:'' }}</textarea>
                    <br>
                    <table title="Введите текст и нажмите Enter" style="width:40%; border-color: #363636;" class="table col-lg-5">
                      <tbody>
                        <tr>
                          <td style="color:black;">
                            <input name="comm" id="comm" placeholder="Ввод комментария" class="form-control" >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    Системная информация
                    <div class="wrap col-lg-12">
                    <textarea style="color:black;" disabled class="col-lg-5 form-conrtol">{{ th.system|default:'' }}</textarea>
                    <br>
                  </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  {% endif %}
  {% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="{{ ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/static/bsmodals/restapi.js"></script>
  <script src="/static/bsmodals/bsmodals.js"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["M", "T", "W", "T", "F", "S", "S"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "rgba(255, 255, 255, .8)",
          data: [50, 20, 10, 22, 50, 10, 40],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [50, 40, 300, 320, 500, 350, 200, 230, 500],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

    new Chart(ctx3, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#f8f9fa',
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>
  <script>
                window.document.onkeydown = function () {
                        startRefocus();
                }
                function startRefocus(event) {
                        event = event || window.event;
                        //if (!event.ctrlKey) return;
                        var key = event.keyCode;
                        var targetElement = event.target || event.srcElement;
                        focusMe(targetElement, key);
                }
                function focusMe(input, key) {
                        var needFocusElement = true;
                        function detectColumn(td) {
                                var result = 0, x;
                                while (td = td.previousElementSibling) {
                                        ++result
                                }
                                return result;
                        }
                        try {
                                switch (key) {
                                        case 37:
                                                needFocusElement = input.parentNode.previousElementSibling.querySelector("input");

                                                break;
                                        case 39:
                                                needFocusElement = input.parentNode.nextElementSibling.querySelector("input");
                                                break;
                                        case 38:
                                                needFocusElement = input.parentNode.parentNode.previousElementSibling.querySelectorAll("td")[detectColumn(input.parentNode)].querySelector("input");
                                                break;
                                        case 40:
                                                needFocusElement = input.parentNode.parentNode.nextElementSibling.querySelectorAll("td")[detectColumn(input.parentNode)].querySelector("input");
                        break;
                    default:
                        needFocusElement = false;
                                }
                        } catch (e) {
                                needFocusElement = false;
                        }

                        if (!needFocusElement) return;
                        needFocusElement.focus();
                }
        </script>
  <script>
    const tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
      tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
      tx[i].addEventListener("input", OnInput, false);
    }

    function OnInput() {
      this.style.height = 0;
      this.style.height = (this.scrollHeight) + "px";
    }
  </script>
  <script>
    // Функция для изменения цвета фона input и td
    function changeColor() {
        var select = document.getElementById('status');
        var value = select.value;
        var parentTd = select.parentElement; // Получаем родительский элемент <td>
        var color = ''; // Переменная для хранения цвета
        // Устанавливаем цвет в зависимости от содержимого в input
        switch(value) {
            case 'На рассмотрение':
                color = '#F2E93F'; // Желтый
                break;
            case 'Отклонен':
                color = '#FA5555'; // Красный
                break;
            case 'Одобрен':
                color = '#19c719'; // Зеленый
                break;
            default:
                color = ''; // По умолчанию
        }
        // Устанавливаем цвет фона для <input> и его родительского <td>
        select.style.backgroundColor = color;
        if (parentTd) {
            parentTd.style.backgroundColor = color;
        }
    }
  </script>
  <script>

    function AgreemSave(id) {
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value; // Получаем CSRF токен
        var select = document.getElementById('status');
        var value = select.value;
        $.ajax({
            url: '/agreem_save/',
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            data: {
                'id': id,
                'value': value,
            },
            success: function(message) {
                console.log('Данные успешно сохранены');
                changeColor()
                // Дополнительные действия при успешном сохранении данных
            },
            error: function(error) {
                console.log(error);
                // Дополнительные действия в случае ошибки
            }
        });
    }
    function AcceptSave(id) {
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value; // Получаем CSRF токен
        var select = document.getElementById('tac' + id);
        var value = select.value;
        $.ajax({
            url: '/accept_save/',
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            data: {
                'id': id,
                'value': value,
            },
            success: function(message) {
                console.log('Данные успешно сохранены');
                // Дополнительные действия при успешном сохранении данных
            },
            error: function(error) {
                console.log(error);
                // Дополнительные действия в случае ошибки
            }
        });
    }
    function ChangeSave(id) {
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value; // Получаем CSRF токен
        var select = document.getElementById('tch' + id);
        var value = select.value;
        $.ajax({
            url: '/change_save/',
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            data: {
                'id': id,
                'value': value,
            },
            success: function(message) {
                console.log('Данные успешно сохранены');
                var status = document.getElementById('tsch' + id);
                var user = message.user
                status.value = user
                // Дополнительные действия при успешном сохранении данных
            },
            error: function(error) {
                console.log(error);
                // Дополнительные действия в случае ошибки
            }
        });
    }
  </script>
<script>
    function ControlSave(id) {
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value; // Получаем CSRF токен
        var select = document.getElementById('control');
        var value = select.value;
        $.ajax({
            url: '/control_save/',
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            data: {
                'id': id,
                'value': value,
            },
            success: function(message) {
                console.log('Данные успешно сохранены');
                changeColor()
                // Дополнительные действия при успешном сохранении данных
            },
            error: function(error) {
                console.log(error);
                // Дополнительные действия в случае ошибки
            }
        });
    }

  </script>

{% endblock javascripts %}
