{% extends "layouts/base.html" %}

{% block title %} Создание табели {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}


{% block content %}
<style>
.my-table {
width: 100%;
border-collapse: collapse;
}
.my-table tbody td, .my-table thead th {
border: 1px;
padding: 2px 5px;
}
.my-table thead tr th {
text-align: center;
}
.wrap-expand-table a[href^="#click-expand"], .wrap-expand-table a[href="#close"] {
text-decoration: none;
border-bottom: 1px dashed;
}

/* Если браузер не поддерживает структурные псевдоклассы, то список будет раскрыт и доступ к данным сохранится */
[id^="click-expand"] {
position: fixed; /* чтобы страница "не подпрыгивала" к id */
}
[id^="click-expand"]:target + .wrap-expand-table a[href^="#click-expand"],
[id^="click-expand"]:not(:target) + .wrap-expand-table tbody tr:nth-of-type(n+0), /* 5 — порядковый номер строки, после которой строки будут скрыты */
[id^="click-expand"]:not(:target) + .wrap-expand-table a[href="#close"] {
display: none;
}
</style>
    <div class="container-fluid py-4">
      <div class="row mb-12">
        <div class="col-lg-11 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-12 col-7">
                  <h6> Создание табеля</h6>
                  <h7 style="color:red">{{ error }}</h7>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <form method="POST">{% csrf_token %}
                <div class="wrap table-responsive">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th style="background:#e4e4e4;" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Месяц</th>
                        <th style="background:#e4e4e4;" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Год</th>
                        <th style="background:#e4e4e4;" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Тип</th>
                        <th style="background:#e4e4e4;" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Объект</th>
                        <th style="background:#e4e4e4;" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">График</th>
                        <th style="background:#e4e4e4;" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Рабочие дни</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="text-center d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <select name="mo" id="mo" class="form-control">
                                <option value="01">Январь</option>
                                <option value="02">Февраль</option>
                                <option value="03">Март</option>
                                <option value="04">Апрель</option>
                                <option value="05">Май</option>
                                <option value="06">Июнь</option>
                                <option value="07">Июль</option>
                                <option value="08">Август</option>
                                <option value="09">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                              </select>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="text-center d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <select name="ye" id="ye" class="form-control">
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                              </select>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="text-center d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              {{ form.type }}
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="text-center d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              {{ form.obj }}
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="text-center d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              {{ form.graphic }}
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="text-center d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              {{ form.workdays }}
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
                <div class="card">
                  <div class="card-body px-0 pb-2">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-12">
                          <ul class="row1" id="row1">

                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-9">
                      </div>
                        <div class="col-lg-2 col-7">
                          <a href="/new_doc">
                            <button class="btn bg-gradient-dark px-4 mb-3" type="submit">Создать</button>
                          </a>
                        </div>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      {% include 'includes/footer.html' %}
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="{{ ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["M", "T", "W", "T", "F", "S", "S"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "rgba(255, 255, 255, .8)",
          data: [50, 20, 10, 22, 50, 10, 40],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [50, 40, 300, 320, 500, 350, 200, 230, 500],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

    new Chart(ctx3, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#f8f9fa',
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>
  <script>
    row1.addEventListener('click', function(e){
      if(e.target != this){
        e.target.remove()
      }
    })
    row2.addEventListener('click', function(e){
      if(e.target != this){
        e.target.id = 'w'+e.target.placeholder
        e.target.name = 'w'+e.target.placeholder
        row1.appendChild(e.target.cloneNode(true));
        e.target.id = 'works'+e.target.placeholder
        e.target.name = 'works'+e.target.placeholder
        e.target.style = 'color:red !important'
      }
    })
  </script>
  <script>
    window.onload = function() {
      {% if error != None %}
        alert('{{ error }}');
      {% endif %}
    }
  </script>
{% endblock javascripts %}
