{% extends "layouts/base.html" %}

{% block title %} Табели водителей {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  td {
     padding: 0 !important;
  }
</style>
{% endblock stylesheets %}

{% block content %}
  {% if perms.reference.view_period  %}
    <div class="container-fluid py-4">
      <div class="row mb-12">
        <div class="col-lg-11 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-11 col-7">
                  <h6 class="text-center">Табели водителей</h6>
                </div>
                  {% if perms.reference.add_driver  %}
                <div class="col-lg-1 col-7">
                  <a class="text-white" href="{% url 'new_driver' %}"><button class="btn bg-gradient-dark px-3 mb-2" data-class="bg-gradient-dark">Создать</button></a>
                  <button class="btn bg-gradient-dark px-3 mb-2" onclick="window.AddPersone.showModal();" data-class="bg-gradient-dark">Найти</button>
                </div>
                  {% endif %}
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="wrap col-lg-12">
                  {% for g in groups %}
                  <br id="all{{ g.id }}"/>
                  <table class="demotable table align-items-center mb-0">
                    <thead>
                      <tr>
                        <td hidden>
                        </td>
                        <td class="col-lg-11"><a href="#close">{{ g.date|date:"F Y" }}</a><a href="#all{{ g.id }}">{{ g.date|date:"F Y" }}</a>
                        </td>
                        <td class="col-lg-1">
                          <a class="text-white" href="month_info_driver/{{ g.date|date:'Y' }}/{{ g.date|date:'m'}}/Объединенный отчет водителей за {{ g.date|date:'F Y' }}"><button class="btn bg-gradient-dark px-3 mb-2" data-class="bg-gradient-dark">Отчет</button></a>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th hidden style="background:#9fc6ff;color:black;" class="col-lg-1">Номер</th>
                        <th style="background:#9fc6ff;color:black;" class="">Объект</th>
                        <th style="background:#9fc6ff;color:black;" class="col-lg-1"></th>
                      </tr>
                      {% for p in per %}
                      {% if g.date == p.date %}
                      {% if p.obj.prorab == request.user or request.user.username == 'AsadulaevM' or request.user.username == 'RahmatylaevIS' or request.user.username == "DjavathanovaP" or request.user.username == 'AhmedovMagomed' or request.user.username == 'IdrisovA' or request.user.username == 'RamazanovSh' or request.user.username == 'TagaevAA' or request.user.username == 'GadjievAM' or request.user.username == 'KamalydinovR' or request.user.is_superuser %}
                      {% if request.user.username == 'TagaevAA' or request.user.username == 'AhmedovMagomed' or request.user.username == 'IdrisovA' or request.user.username == 'KamalydinovR'  or request.user.username == 'RamazanovSh'  %}
                        {% if p.obj.name == "Офис_Махачкала" or p.obj.name == "Офис_Саратов" %}
                        {% else %}
                        <tr class="col-lg-11">
                          <td hidden>
                            <div class="d-flex px-2 py-1">
                              <div class="d-flex flex-column justify-content-center">
                                <a href="view_driver/{{ p.id }}">{{ p.id }}</a>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="avatar-group text-center mt-2">
                              <a href="view_driver/{{ p.id }}">{{ p.obj }} </a>
                            </div>
                          </td>

                          <td class="align-middle text-center">
                            <div class="dropdown text-center">
                              <a class="cursor-pointer" id="dropdownTable{{ d.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-v text-secondary"></i>
                              </a>
                              <ul class="dropdown-menu text-center" aria-labelledby="dropdownTable">
                                <li><a class="dropdown-item text-center border-radius-md" href="view_driver/{{ p.id }}">Открыть</a></li>
                                <li><a class="dropdown-item text-center border-radius-md" href="hexp_driver/{{ p.id }}">Эскпорт</a></li>
                                {% if perms.reference.delete_period  %}<li><a class="dropdown-item text-center border-radius-md" href="del_driver/{{ p.id }}">Удалить</a></li>{% endif %}
                              </ul>
                            </div>
                          </td>
                        </tr>
                        {% endif %}
                      {% else %}
                      <tr class="col-lg-11">
                        <td hidden>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <a href="view_driver/{{ p.id }}">{{ p.id }}</a>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="avatar-group text-center mt-2">
                            <a href="view_driver/{{ p.id }}">{{ p.obj }} </a>
                          </div>
                        </td>
                        <td class="align-middle text-center">
                          <div class="dropdown text-center">
                            <a class="cursor-pointer" id="dropdownTable{{ d.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="fa fa-ellipsis-v text-secondary"></i>
                            </a>
                            <ul class="dropdown-menu text-center" aria-labelledby="dropdownTable">
                              <li><a class="dropdown-item text-center border-radius-md" href="view_driver/{{ p.id }}">Открыть</a></li>
                              <li><a class="dropdown-item text-center border-radius-md" href="hexp_driver/{{ p.id }}/Табель {{ p.obj }} от {{ p.date|date:'F Y' }}">Эскпорт</a></li>
                              {% if perms.reference.delete_period  %}<li><a class="dropdown-item text-center border-radius-md" href="del_driver/{{ p.id }}">Удалить</a></li>{% endif %}
                            </ul>
                          </div>
                        </td>
                      </tr>
                      {% endif %}
                      {% endif %}
                    {% endif %}
                    {% endfor %}
                    </tbody>
                  </table>
                  {% endfor %}
                  <dialog id="AddPersone" class="modal-body col-lg-6" style="border-top-left-radius: calc(1rem - 1px); border-top-right-radius: calc(1rem - 1px);border-bottom-left-radius: calc(1rem - 1px); border-bottom-right-radius: calc(1rem - 1px);">
                    <div>
                      <div class="modal-dialog">
                        <div>
                          <div class="modal-header">
                            <div class="col-lg-9">
                              <input class="form-control" type="text" id="myInput" ondrag="myFunction()" oninput="myFunction()" oncopy="myFunction()" onchange="myFunction()" onkeyup="myFunction()" onkeypress="myFunction()" placeholder="Поиск по ФИО..">

                            </div>
                            <div class="col-lg-3">
                              <button class="btn" type="button" onclick="window.AddPersone.close();">Закрыть</button>
                            </div>
                          </div>
                          <div class="">
                            <table id="myTable" class="table table-align">
                              <thead>
                              <tr class="header">
                                <th>ФИО</th>
                                <th>Группа</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for p in persones %}
                              <tr>
                                <td>
                                  <a href="/search/{{p.id}}">{{ p.full_name }}</a>
                                </td>
                                <td>
                                  <a href="/search/{{p.id}}">{{ p.group }}</a>
                                </td>
                              </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-9">
                        </div>
                        <div class="col-lg-3">
                          <button class="btn" type="button" onclick="window.AddPersone.close();">Закрыть</button>
                        </div>
                      </div>
                    </div>
                  </dialog>
                  <br><br><br><br><br>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      {% include 'includes/footer.html' %}
    </div>
  {% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="{{ ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["M", "T", "W", "T", "F", "S", "S"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "rgba(255, 255, 255, .8)",
          data: [50, 20, 10, 22, 50, 10, 40],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [50, 40, 300, 320, 500, 350, 200, 230, 500],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

    new Chart(ctx3, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#f8f9fa',
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>
  <script>
    function myFunction() {
      // Объявить переменные
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Перебирайте все строки таблицы и скрывайте тех, кто не соответствует поисковому запросу
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>

{% endblock javascripts %}
